WebAppEmpresa/web/WEB-INF/wsdl/localhost_8080/WebAppAdquisicion/AseguradoraServicio.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webService.arqui.edu.espe.ec/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webService.arqui.edu.espe.ec/" name="AseguradoraServicio">
<types>
<xsd:schema>
<xsd:import namespace="http://webService.arqui.edu.espe.ec/" schemaLocation="http://localhost:8080/WebAppAdquisicion/AseguradoraServicio?xsd=1"/>
</xsd:schema>
</types>
<message name="obtenerSeguro">
<part name="parameters" element="tns:obtenerSeguro"/>
</message>
<message name="obtenerSeguroResponse">
<part name="parameters" element="tns:obtenerSeguroResponse"/>
</message>
<message name="insertarAdquisicionCuerpoLista">
<part name="parameters" element="tns:insertarAdquisicionCuerpoLista"/>
</message>
<message name="insertarAdquisicionCuerpoListaResponse">
<part name="parameters" element="tns:insertarAdquisicionCuerpoListaResponse"/>
</message>
<message name="obtenerEmpleado">
<part name="parameters" element="tns:obtenerEmpleado"/>
</message>
<message name="obtenerEmpleadoResponse">
<part name="parameters" element="tns:obtenerEmpleadoResponse"/>
</message>
<message name="insertarAdquisicionCabecera">
<part name="parameters" element="tns:insertarAdquisicionCabecera"/>
</message>
<message name="insertarAdquisicionCabeceraResponse">
<part name="parameters" element="tns:insertarAdquisicionCabeceraResponse"/>
</message>
<message name="obtenerAdquisiciones">
<part name="parameters" element="tns:obtenerAdquisiciones"/>
</message>
<message name="obtenerAdquisicionesResponse">
<part name="parameters" element="tns:obtenerAdquisicionesResponse"/>
</message>
<message name="insertarAdquisicionCuerpo">
<part name="parameters" element="tns:insertarAdquisicionCuerpo"/>
</message>
<message name="insertarAdquisicionCuerpoResponse">
<part name="parameters" element="tns:insertarAdquisicionCuerpoResponse"/>
</message>
<message name="obtenerCliente">
<part name="parameters" element="tns:obtenerCliente"/>
</message>
<message name="obtenerClienteResponse">
<part name="parameters" element="tns:obtenerClienteResponse"/>
</message>
<portType name="AseguradoraServicio">
<operation name="obtenerSeguro">
<input wsam:Action="http://webService.arqui.edu.espe.ec/AseguradoraServicio/obtenerSeguroRequest" message="tns:obtenerSeguro"/>
<output wsam:Action="http://webService.arqui.edu.espe.ec/AseguradoraServicio/obtenerSeguroResponse" message="tns:obtenerSeguroResponse"/>
</operation>
<operation name="insertarAdquisicionCuerpoLista">
<input wsam:Action="http://webService.arqui.edu.espe.ec/AseguradoraServicio/insertarAdquisicionCuerpoListaRequest" message="tns:insertarAdquisicionCuerpoLista"/>
<output wsam:Action="http://webService.arqui.edu.espe.ec/AseguradoraServicio/insertarAdquisicionCuerpoListaResponse" message="tns:insertarAdquisicionCuerpoListaResponse"/>
</operation>
<operation name="obtenerEmpleado">
<input wsam:Action="http://webService.arqui.edu.espe.ec/AseguradoraServicio/obtenerEmpleadoRequest" message="tns:obtenerEmpleado"/>
<output wsam:Action="http://webService.arqui.edu.espe.ec/AseguradoraServicio/obtenerEmpleadoResponse" message="tns:obtenerEmpleadoResponse"/>
</operation>
<operation name="insertarAdquisicionCabecera">
<input wsam:Action="http://webService.arqui.edu.espe.ec/AseguradoraServicio/insertarAdquisicionCabeceraRequest" message="tns:insertarAdquisicionCabecera"/>
<output wsam:Action="http://webService.arqui.edu.espe.ec/AseguradoraServicio/insertarAdquisicionCabeceraResponse" message="tns:insertarAdquisicionCabeceraResponse"/>
</operation>
<operation name="obtenerAdquisiciones">
<input wsam:Action="http://webService.arqui.edu.espe.ec/AseguradoraServicio/obtenerAdquisicionesRequest" message="tns:obtenerAdquisiciones"/>
<output wsam:Action="http://webService.arqui.edu.espe.ec/AseguradoraServicio/obtenerAdquisicionesResponse" message="tns:obtenerAdquisicionesResponse"/>
</operation>
<operation name="insertarAdquisicionCuerpo">
<input wsam:Action="http://webService.arqui.edu.espe.ec/AseguradoraServicio/insertarAdquisicionCuerpoRequest" message="tns:insertarAdquisicionCuerpo"/>
<output wsam:Action="http://webService.arqui.edu.espe.ec/AseguradoraServicio/insertarAdquisicionCuerpoResponse" message="tns:insertarAdquisicionCuerpoResponse"/>
</operation>
<operation name="obtenerCliente">
<input wsam:Action="http://webService.arqui.edu.espe.ec/AseguradoraServicio/obtenerClienteRequest" message="tns:obtenerCliente"/>
<output wsam:Action="http://webService.arqui.edu.espe.ec/AseguradoraServicio/obtenerClienteResponse" message="tns:obtenerClienteResponse"/>
</operation>
</portType>
<binding name="AseguradoraServicioPortBinding" type="tns:AseguradoraServicio">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="obtenerSeguro">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertarAdquisicionCuerpoLista">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerEmpleado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertarAdquisicionCabecera">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerAdquisiciones">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertarAdquisicionCuerpo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="AseguradoraServicio">
<port name="AseguradoraServicioPort" binding="tns:AseguradoraServicioPortBinding">
<soap:address location="http://localhost:8080/WebAppAdquisicion/AseguradoraServicio"/>
</port>
</service>
</definitions>