WebAppAdquisicion/src/conf/xml-resources/web-service-references/EmpresaWebService/wsdl/localhost_8080/WebAppEmpresa/EmpresaWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webService.em.arqui.edu.espe.ec/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webService.em.arqui.edu.espe.ec/" name="EmpresaWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://webService.em.arqui.edu.espe.ec/" schemaLocation="http://localhost:8080/WebAppEmpresa/EmpresaWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="obtenerEmpleados">
<part name="parameters" element="tns:obtenerEmpleados"/>
</message>
<message name="obtenerEmpleadosResponse">
<part name="parameters" element="tns:obtenerEmpleadosResponse"/>
</message>
<message name="obtenerFamiliares">
<part name="parameters" element="tns:obtenerFamiliares"/>
</message>
<message name="obtenerFamiliaresResponse">
<part name="parameters" element="tns:obtenerFamiliaresResponse"/>
</message>
<message name="insertarFamiliar">
<part name="parameters" element="tns:insertarFamiliar"/>
</message>
<message name="insertarFamiliarResponse">
<part name="parameters" element="tns:insertarFamiliarResponse"/>
</message>
<message name="eliminarFamiliar">
<part name="parameters" element="tns:eliminarFamiliar"/>
</message>
<message name="eliminarFamiliarResponse">
<part name="parameters" element="tns:eliminarFamiliarResponse"/>
</message>
<message name="actualizarFamiliar">
<part name="parameters" element="tns:actualizarFamiliar"/>
</message>
<message name="actualizarFamiliarResponse">
<part name="parameters" element="tns:actualizarFamiliarResponse"/>
</message>
<portType name="EmpresaWebService">
<operation name="obtenerEmpleados">
<input wsam:Action="http://webService.em.arqui.edu.espe.ec/EmpresaWebService/obtenerEmpleadosRequest" message="tns:obtenerEmpleados"/>
<output wsam:Action="http://webService.em.arqui.edu.espe.ec/EmpresaWebService/obtenerEmpleadosResponse" message="tns:obtenerEmpleadosResponse"/>
</operation>
<operation name="obtenerFamiliares">
<input wsam:Action="http://webService.em.arqui.edu.espe.ec/EmpresaWebService/obtenerFamiliaresRequest" message="tns:obtenerFamiliares"/>
<output wsam:Action="http://webService.em.arqui.edu.espe.ec/EmpresaWebService/obtenerFamiliaresResponse" message="tns:obtenerFamiliaresResponse"/>
</operation>
<operation name="insertarFamiliar">
<input wsam:Action="http://webService.em.arqui.edu.espe.ec/EmpresaWebService/insertarFamiliarRequest" message="tns:insertarFamiliar"/>
<output wsam:Action="http://webService.em.arqui.edu.espe.ec/EmpresaWebService/insertarFamiliarResponse" message="tns:insertarFamiliarResponse"/>
</operation>
<operation name="eliminarFamiliar">
<input wsam:Action="http://webService.em.arqui.edu.espe.ec/EmpresaWebService/eliminarFamiliarRequest" message="tns:eliminarFamiliar"/>
<output wsam:Action="http://webService.em.arqui.edu.espe.ec/EmpresaWebService/eliminarFamiliarResponse" message="tns:eliminarFamiliarResponse"/>
</operation>
<operation name="actualizarFamiliar">
<input wsam:Action="http://webService.em.arqui.edu.espe.ec/EmpresaWebService/actualizarFamiliarRequest" message="tns:actualizarFamiliar"/>
<output wsam:Action="http://webService.em.arqui.edu.espe.ec/EmpresaWebService/actualizarFamiliarResponse" message="tns:actualizarFamiliarResponse"/>
</operation>
</portType>
<binding name="EmpresaWebServicePortBinding" type="tns:EmpresaWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="obtenerEmpleados">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerFamiliares">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertarFamiliar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarFamiliar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="actualizarFamiliar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="EmpresaWebService">
<port name="EmpresaWebServicePort" binding="tns:EmpresaWebServicePortBinding">
<soap:address location="http://localhost:8080/WebAppEmpresa/EmpresaWebService"/>
</port>
</service>
</definitions>