WebAppAdquisicion/web/WEB-INF/wsdl/localhost_8080/WebAppEmpresa/EmpresaServicio.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.em.arqui.edu.espe.ec/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.em.arqui.edu.espe.ec/" name="EmpresaServicio">
<types>
<xsd:schema>
<xsd:import namespace="http://service.em.arqui.edu.espe.ec/" schemaLocation="http://localhost:8080/WebAppEmpresa/EmpresaServicio?xsd=1"/>
</xsd:schema>
</types>
<message name="obtenerEmpleado">
<part name="parameters" element="tns:obtenerEmpleado"/>
</message>
<message name="obtenerEmpleadoResponse">
<part name="parameters" element="tns:obtenerEmpleadoResponse"/>
</message>
<message name="obtenerFamiliar">
<part name="parameters" element="tns:obtenerFamiliar"/>
</message>
<message name="obtenerFamiliarResponse">
<part name="parameters" element="tns:obtenerFamiliarResponse"/>
</message>
<message name="obtenerLugar">
<part name="parameters" element="tns:obtenerLugar"/>
</message>
<message name="obtenerLugarResponse">
<part name="parameters" element="tns:obtenerLugarResponse"/>
</message>
<portType name="EmpresaServicio">
<operation name="obtenerEmpleado">
<input wsam:Action="http://service.em.arqui.edu.espe.ec/EmpresaServicio/obtenerEmpleadoRequest" message="tns:obtenerEmpleado"/>
<output wsam:Action="http://service.em.arqui.edu.espe.ec/EmpresaServicio/obtenerEmpleadoResponse" message="tns:obtenerEmpleadoResponse"/>
</operation>
<operation name="obtenerFamiliar">
<input wsam:Action="http://service.em.arqui.edu.espe.ec/EmpresaServicio/obtenerFamiliarRequest" message="tns:obtenerFamiliar"/>
<output wsam:Action="http://service.em.arqui.edu.espe.ec/EmpresaServicio/obtenerFamiliarResponse" message="tns:obtenerFamiliarResponse"/>
</operation>
<operation name="obtenerLugar">
<input wsam:Action="http://service.em.arqui.edu.espe.ec/EmpresaServicio/obtenerLugarRequest" message="tns:obtenerLugar"/>
<output wsam:Action="http://service.em.arqui.edu.espe.ec/EmpresaServicio/obtenerLugarResponse" message="tns:obtenerLugarResponse"/>
</operation>
</portType>
<binding name="EmpresaServicioPortBinding" type="tns:EmpresaServicio">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="obtenerEmpleado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerFamiliar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerLugar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="EmpresaServicio">
<port name="EmpresaServicioPort" binding="tns:EmpresaServicioPortBinding">
<soap:address location="http://localhost:8080/WebAppEmpresa/EmpresaServicio"/>
</port>
</service>
</definitions>